body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
body{height:100%;background:#fff;color:#1f1f1f;font-family:Arial,Verdana,sans-serif;font-size:13px;padding:7px 0;}
ul, ol{list-style:none;}
a {text-decoration: none;}
.text-center {text-align: center; padding: 10px 0;}
h2 {margin-bottom: 30px;}
.wrap {width: 653px; margin: 0 auto;}
.clear {clear: both;}

/* Tutorial CSS */
#menu-slider {
background: url(images/bg_menu_slider.png) no-repeat 0 0; 
padding: 15px; 
margin-bottom: 20px;
}

/* Required */
#list-images, #list-images li {
height: 292px; 
width: 400px; 
display: block;
}
#list-images {
float: right; 
overflow: hidden; /* Required to hide the inactive slides */
border: 1px solid #ccc;
}
#list-images li {
position: relative;
}

#list-images li img {
background: #fff; 
position: absolute; 
top: 0; 
left: 0;
}

/* Image captions */
#list-images li span {
background: url(images/grid1.png) repeat 0 0; 
position: absolute; 
bottom: 0; 
left: 0; 
width: 362px; 
display: block; 
padding: 14px 20px; 
font: bold 20px Arial, sans-serif; 
color: #fff; 
height: 20px; 
line-height: 20px;
}

/* Menu text links */
#list-links {
width: 220px; 
float: left;
}
#list-links li {
padding: 0 15px 0 0;
}
#list-links li a {
font: normal 12px Arial, sans-serif; 
color: #222; 
padding: 8px 5px 8px 8px; 
border-bottom: 1px solid #ccc; 
font-weight: bold; 
font-size: 13px; 
display: block;
}
#list-links li.hover {
background: url(images/tab_current.png) no-repeat 100% center;
}
#list-links li.hover a, #list-links li.hover a:hover {
color: #fff; 
background: none; 
border-bottom: none; 
padding-bottom: 9px;
}
#list-links li.last a {
border-bottom: none;
}